:root {
  --font-ui: 'Segoe UI', Arial, sans-serif;
  --color-ui-text-primary: #eff0f1;
  --color-ui-text-muted: #b0b6bc;
  --color-statusbar-background: #31363b;
  --color-statusbar-border: #434242;
  --color-statusbar-hover-border: #76797c;
  --color-pause-panel-background: #25282c;
  --color-main-background: #2d2d2d;
  --color-titlebar-background: #181818;
  --color-titlebar-background-inactive: #2d2d2d;
  --color-titlebar-text: #FFF;
  --color-titlebar-icon: #FFF;
  --color-titlebar-icon-hover: #0078d7;
  --color-titlebar-icon-inactive: #2f7bb0;
  --color-menubar-background: #181818;
  --color-menubar-background-hover: #2c2c2c;
  --color-menubar-background-active: #2c2c2c;
  --color-menuitem-background: #2c2c2c;
  --color-menuitem-background-hover: #383838;
  --color-menu-popup-background: #252526;
  --color-menu-popup-border: #454545;
  --color-menu-popup-shadow: rgba(0, 0, 0, 0.45);
  --color-menu-shortcut-text: #b8b8b8;
  --color-menu-separator: #3d3d3d;
  --color-window-border: #353535;
}

html
{
  border: 1px solid var(--color-window-border);
  background-color: var(--color-main-background);
  box-sizing: border-box;
}

html[window-state="maximized"]
{
  border: window-frame-width solid transparent;
}

html > header
{
  width: *;
  flow: horizontal;
  background-color: var(--color-titlebar-background);
  height: window-caption-height;
  margin: 0;
  color: var(--color-titlebar-text);
}

html[data-active="false"] > header
{
  background-color: var(--color-titlebar-background-inactive);
}

html > header > window-caption
{
  display: block;
  line-height: window-caption-height;
  width: *;
  padding: 0 1em;
  font-family: var(--font-ui);
  font-size: 0.9em;
  font-weight: 100;
}

html > header > window-caption span
{
  vertical-align: middle;
}

html > header > window-caption img
{
  vertical-align: middle;
  margin-right: 0.4em;
  width: 1.5em;
  height: 1.5em; 
}

html > header > window-buttons
{
  display: block;
  flow: horizontal;
  width: max-content;
  height: *;
}

html > header > window-buttons > window-button {
  behavior: clickable;
  display: block;
  height: *;
  width: window-button-width;
  foreground-size: 2em 1.5em;
  foreground-repeat: no-repeat;
  foreground-position: 50% 50%;
  stroke-width: 0;
  fill: var(--color-titlebar-icon);
  transition: background-color linear 100ms;
  padding: 0.25em;
}

html[data-active="false"] > header > window-buttons > window-button
{
  fill: var(--color-titlebar-icon-inactive);
}

html > header > window-buttons > window-button:hover
{
  background: var(--color-titlebar-icon-hover);
}

html > header > window-buttons > window-button[role="window-close"]
{
  foreground-image: url(icon:window-close);
}

html > header > window-buttons > window-button[role="window-close"]:hover
{
  background: rgb(232,17,35);
  fill: #fff;
}

html > header > window-buttons > window-button[role="window-maximize"]
{
  foreground-image: url(icon:window-maximize);
}

html[window-state="maximized"]
{
  border-color: transparent;
}

html[window-state="maximized"] > header > window-buttons > window-button[role="window-maximize"]
{
  foreground-image: url(icon:window-restore);
}

html > header > window-buttons > window-button[role="window-minimize"]
{
  foreground-image: url(icon:window-minimize);
}
